*.DS_Store
experiments/_layout/
experiments/compile/
experiments/sounds_other
experiments/images_other
experiments/images_old
experiments/watch
pictures
Recordings
recordings_speakerchange
analysis/.Rproj.user
analysis/.RData
analysis/.Rhistory
analysis/rsconnect
analysis/01_study1_adult_models
.Rproj.user
analysis/01_analysis.Rmd