*.DS_Store
experiments/_layout/
experiments/compile/
experiments/sounds_other
experiments/images_other
experiments/images_old
analysis/02_kids_600_cache/
analysis/02_kids_600_files/
analysis/discon_summary_files/
analysis/discon_summary_cache/
experiments/watch
pictures
Recordings
recordings_speakerchange
analysis/.Rproj.user
analysis/.RData
analysis/.Rhistory
analysis/rsconnect
analysis/01_study1_adult_models
.Rproj.user
analysis/01_analysis.Rmd
paper/manuscript_cache/
paper/manuscript_files/
.Rhistory

analysis/*
scripts/*
literature/*

paper/manuscript_cache/*
paper/manuscript_files/*

paper/supplementary_material_cache/*
paper/supplementary_material_files/*

*.tex
*.docx
*.log
*.Rproj